body{
    margin:0;
    background-image:url('img_finder/image.jpeg');
    display:flex;
    flex-direction: column;
}

.display{
    display:flex;
}

html{
    margin:0;
}

nav{
    text-align:left;
    font-family:'Arial Black', Courier, monospace,cursive;
    font-size:1.2em;
    color: #ffd18c;
    text-shadow: 2px 2px rgb(0, 0, 0);
    background-image:url("img_finder/Planche_claire.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    padding:20px;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    position: fixed;
    left:0;
    bottom:0;
    top:150px;
    width:30%;
    margin-left:0;
    text-align:left;
    overflow:auto;
}

select{
    border-radius: 10px;
    border-color: rgb(205, 156, 50);
    background-color: #f5deb3;
    border: 1px rgb(168, 54, 8) solid;
}

input{
    border-radius: 10px;
}

option{
    padding:0.3em;
}

#submit{
    padding:0.5em;
    font-size: 1.5em;
    background-color: #f5deb3;
    border-color:rgb(205, 156, 50);
}

#nom_recette{
    font-size: 1.3em;
    padding: 0.3em;
    background-color: #fafafa;
    border-color: rgb(205, 156, 50);
}

section{
    width:auto;
    margin-top: 0;
    margin-left: 30%;
    padding-left:50px;
    margin-right:10px;
    text-align: center;
    margin-top:150px;
}

option:hover{
    background-color:yellow;
}

#background_section{
    background-color:  #f5deb3;
    font-size: 1.5em;
    margin: auto;
    padding: 0.5em;
    border: black solid 2px; 
    border-radius:10px;
}

#categorie{
    padding:0.3em;
}

#difficulte{
    padding:0.3em;
}

#calories{
    padding: 0.3em;
}

article{
    display: flex;
    justify-content: space-around;
    border: black solid 2px;
    margin-left: 1em;
    margin-right: 1em;
    background-color:rgb(205, 156, 50);
    border-radius:10px;
}

#header{
    width:600px;
    height:150px;
    background-image:url("img_finder/Planche5.jpg");
    background-size:100%;
    margin-top:0;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    border-bottom: solid black 2px;
    display:flex;
    flex-direction: column;
}

.main_search_field_picture{
    height:50px;
}

.header_first_row{
    display:flex;
    justify-content: space-around;
    align-items: bottom;
    font-size:1.2em;
    color:#ffd18c;
    font-family: 'Arial Black', Courier, monospace,cursive;
}

.main_search_field{
    display:flex;
}

.main_search_field_textbar{
    font-size:2em;
    padding:0.3em;
}

#loupe{
    size:20%;
}

.logo_home{
    height:30px;
}

.main_menus{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(205, 156, 50);
    margin-top: 0;
}

a{
    color: #ffd18c;
    text-shadow:black 2px 2px;
    text-decoration: none;
    font-family: 'Arial Black', Courier, monospace,cursive;
    font-size:1.2em;
}

#reset{
    padding:0.3em;
    font-size:1.2em;
    margin:auto;
    margin-bottom:1em;
    background-color:#f5deb3;
    border-color:rgb(205, 156, 50)
}

#logo{
    height:100px;
    justify-self: flex-end;
    float:right;
}

#section_main{
    color: #ffd18c;
    font-family: 'Arial Black', Courier, monospace,cursive;
    text-align: center;
}
