<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Finder</title>
        {% load static %}
        <link rel="stylesheet" type="text/css"href="{%static 'app/Finder.css'%}">
    </head>
    <body>
        <header id="header">
            <div class="header_first_row">
                <h1>reCSette</h1>
                <img src="{%static 'app/img_finder/logo_ok.png'%}" alt="Logo" id="logo">
            </div>
            <div class="main_menus">
                <p><a href="accueil"><img src="{%static 'images/home.png'%}" alt="Logo Home" class="logo_home"/></a></p>
                <p><a href="test">Recettes</a></p>
                <p><a href="frigo">FrigoFinder</a></p>
                <p><a href="pepin">Pépin of the week</a></p>
                <p><a href="random">Recette au hasard</a></p>
            </div>    
        </header>
        <div id="display">
            <nav>
                <form method="POST" action="traitement" enctype="multipart/form-data" id=form1>
                    {% csrf_token %}
                    <label for="categorie">Nom de la recette(facultatif) : </label><input type="text" name="nom_recette" id="nom_recette">
                    <p>
                        <label for="categorie">Catégorie : </label>
                        <select name="categorie" id="categorie" multiple>
                            <option value="none" selected="selected">Aucune préférence</option>
                            {% for cat in categorie %}
                            <option value="{{cat.nom}}">{{cat.nom}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="ingredient">Ingredients :</label>
                        <select name="ingredient" id="ingredient" multiple>
                            <option value="none" selected="selected">Aucune préférence</option>
                            {% for ing in ingredient %}
                            <option value="{{ing.nom}}">{{ing.nom}}</option>
                            {% endfor %}
                            <option value="patates">Patates</option>
                        </select>
                    </p>
                    <p>
                        <label for="allergene">Des allergies? Vous n'aimez pas un aliment?<br/> Nous avons pensé à vous! :</label><br/>
                        <select name="allergene" id="allergene" multiple>
                            <option value="none" selected="selected">Aucune préférence</option>
                            {% for all in ingredient %}
                            {% if all in allergenes %}
                            <option value="{{all.nom}}" style="color:red">{{all.nom}}</option>
                            {% else %}
                            <option value="{{all.nom}}">{{all.nom}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="difficulte">Difficulté de la recette : </label>
                        <select name="difficulte" id="difficulte">
                            <option value="none" selected="selected">Aucune préférence</option>
                            <option value="facile">Facile</option>
                            <option value="moyen">Moyen</option>
                            <option value="difficile">Difficile</option>
                        </select>
                    </p>
                    <p>
                        <label for="calories">Apport en calories : </label>
                        <select name="calories" id="calories">
                            <option value="none" selected="selected">Aucune préférence</option>
                            <option value="regime">Régime</option>
                            <option value="normal">Normal</option>
                            <option value="fete">Repas de fête</option>
                        </select>
                    </p>
                    <input type="reset" value="Réinitialiser" id="reset"><br/>
                    <input type="submit" value="Chercher la recette !" id="submit">
                </form>
            </nav>
            <section>
                <p id="background_section">--Recettes sélectionnées--</p>
                {% for rec in recette %}
                <article class="article">
                    <h2>{{rec.0}}</h2>
                    <div class="sous-categories">
                        {% for ing in rec.1 %}
                        <p>{{ing}},</p>
                        {% endfor %}
                    </div>
                    <p>{{rec.2}}</p>
                </article>
                {% endfor %}
            </section>
        </div>
    </body>
</html>