<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Finder</title>
        {% load static %}
        <link rel="stylesheet" type="text/css"href="{%static 'main.css'%}">
    </head>
    <body>
        <header id="header">
            <div class="header_first_row">
                <h1>reCSette</h1>
                <img src="{%static 'app/img_finder/logo_ok.png'%}" alt="Logo" id="logo">
            </div>
            <div class="main_menus">
                <p><a href="accueil"><img src="{%static 'images/home.png'%}" alt="Logo Home" class="logo_home"/></a></p>
                <p><a href="test">Recettes</a></p>
                <p><a href="frigo">FrigoFinder</a></p>
                <p><a href="pepin">Pépin of the week</a></p>
                <p><a href="random">Recette au hasard</a></p>
            </div>    
        </header>
        <section id="section_main">
            <br/><br/><br/><br/>
            <p>Bienvenue sur reCSette, le site qui va changer votre vie d'étudiant !!!</p>
            <p>Ce projet a été réalisé conjointement par : Xavier Jeunot, Jean-Baptiste Collard, Isabelle Vinson, Romain Caplier, Louis-François de Cacqueray, Bonaventure Fontanier</p>
            <p>Nous vous souhaitons une agréable navigation sur notre site à moitié fini, et nous vous prions de nous excuser pour les nombreuses
                erreurs 404 qui surviendront probablement.</p>
        </section>
    </body>
</html>